# ====================================================================
# Configuración y Credenciales (¡Seguridad Crítica de la Rúbrica!)
# ====================================================================
.env
*.pem
*.pkcs12
secrets.json
.vsc/
.config/

# ====================================================================
# Archivos Basura de Google Colab y Jupyter Notebooks
# ====================================================================
.ipynb_checkpoints/
*/.ipynb_checkpoints/
.directory
.local/
sample_data/

# ====================================================================
# Archivos Temporales y Cachés de Python
# ====================================================================
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# ====================================================================
# Entornos Virtuales e IDEs
# ====================================================================
env/
venv/
ENV/
.env/
.venv/
.vscode/
.idea/

# ====================================================================
# Archivos del Sistema Operativo
# ====================================================================
.DS_Store
Thumbs.db
